#image-card {
  width: 100%;
  height: 100%;
}

#paragraph-card {
  width: 100%;
  text-align: start;
}

.container-class {
  border-bottom: 1px solid black;
  width: 15%;
  align-self: center;
}

.rent-button {
  background-color: #e3f6f5;
}
