.nav-bar {
  width: 100%;
  justify-content: space-between;
}

.nav-bar-pages {
  width: 23%;
  display: flex;
  justify-content: center;
}

.pages {
  width: 14%;
  margin-left: auto;
  text-align: center;
  margin-right: 2em;
}

.pages:hover {
  cursor: pointer;
}

