<mat-card class="container-class" *ngIf="car">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"><mat-icon>car_rental</mat-icon></div>
    <mat-card-title>{{car.name}}</mat-card-title>
    <mat-card-subtitle>{{car.brand}}</mat-card-subtitle>
  </mat-card-header>
  <img id="image-card" src="data:image/png;base64,{{car.carImage}}"/>
  <mat-card-content>
    <div>
      <p class="paragraph-card">Rent price: {{car.rentPrice}}</p>
      <p class="paragraph-card">Insurance: {{car.insurancePrice}}</p>
    </div>

  </mat-card-content>
  <mat-card-actions class="button-container">
    <button class="rent-button" mat-button>Rent now</button>
  </mat-card-actions>
</mat-card>
