<div class="home">
  <div id="title">Welcome to Badi Rent!</div>

  <div class="category-container">
    <div><p>What do you want to rent?</p></div>
    <div class="category"><p class="hover-class" routerLink="/cars">Auto</p></div>
    <div class="category"><p class="hover-class" routerLink="/motos">Moto</p></div>
    <div class="category"><p class="hover-class" routerLink="/atvs">Atv</p></div>
  </div>

  <div class="home-description">
    <div class="subtitle" id="subtitle-id"> Why Choose Us </div>

    <div class="description-container">


      <div class="description">
        <div class="subtitle">Rent a vehicle in Bucharest included <br> advantages:</div>
        <div class="paragraph">
          <p>We offer you services to rent vehicles in Bucharest <br> with the following included paragraph:</p>
          <p><br>All taxes are included
            <br>Free pickup & delivery
            <br>Free car replacement
            <br>24/7 Assistance/7
            <br>Unlimited kilometers
            <br>Free vehicle wash
          </p>
        </div>
      </div>

      <div class="description">
        <div class="subtitle">Rent a vehicle in Bucharest - City. <br> NON STOP!</div>
        <div class="paragraph">We offer Rent a Vehicle services in Bucharest, at your desired <br> address. Free Car delivery!
          <br>Also, we offer transfer services from the Otopeni Henri Coanda <br> Airport to Bucharest or anywhere in Romania, by providing you a
          <br> professional driver.</div>
      </div>

      <div class="description">
        <div class="subtitle">Rent a car in Bucharest Otopeni Airport</div>
        <div class="paragraph">
          <p>To make your flight to Romania a relaxed one, we are <br> waiting at the Arrivals Terminal of the Henri Coanda Otopeni
            <br> Bucharest Airport (OTP) with the car that you rented from us. <br> NON STOP. </p>
        </div>
      </div>
    </div>
  </div>

  </div>


